html {
    height: 100%;
}

body {
    height: 100%;
}

.grandeDivData{
    color: white;
    text-align: center;
    padding: 50px ;
    width: 50%;
    margin: 30px auto;
    background-color: #292b2c;
    box-shadow:0px 2px 10px rgba(0,0,0,0.3);
    border-radius:10px;
}
.divStyle{
    color: white;
    text-align: center;
    padding: 50px ;
    margin: 30px auto;
    background-color: #292b2c;
    box-shadow:0px 2px 10px rgba(0,0,0,0.3);
    border-radius:10px;
}
.rowTools{
    margin: 50px;
}

.rowTools2{
    margin: 50px;
}

.displayNone{
    display: none;
}

.signature {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    color: #fff;
}

.grey{
    color: grey;
}

#sigma-container {
    width: 90%;
    height: 500px;
    margin: 30px auto;
    box-shadow:0px 2px 10px rgba(0,0,0,0.3);
    border-radius:10px;
    background-color: #E1E1E1
}

#layout-notification {
    font-weight: bold;
}